# Project 1: Data Manipulation

Author: Chloe Yu

Here we want to make sure that the file path is correctly configured to run our project and fetch data.

In [1]:
import os
os.getcwd()

'/Users/yuxiaohan/Documents/SIPA/Computing in Context/üêü'

In [2]:
os.chdir('/Users/yuxiaohan/Documents/SIPA/Computing in Context/üêü')

In [3]:
os.getcwd()

'/Users/yuxiaohan/Documents/SIPA/Computing in Context/üêü'

In [4]:
!ls

'.              _toc.yml        environment.yml project_1.ipynb project_3.ipynb
_build          data            index.md        project_2.ipynb

In [5]:
import pandas as pd
data = pd.read_csv("./data/DCWP_20241106.csv")

/var/folders/1l/cz0zq77d43dccjqlpzkz3ddm0000gn/T/ipykernel_483/1495299995.py:2: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("./data/DCWP_20241106.csv")

# Data Calculate

I choose "Department of Consumer and Worker Protection (DCWP) Issued Chargesa" as my Dataset, Here is the url: 


https://data.cityofnewyork.us/Business/Department-of-Consumer-and-Worker-Protection-DCWP-/5fn4-dr26/about_data

I will select Charge Count as the column

In [6]:
data.head(2)

,Record ID,Certificate Number,Business Name,Violation Date,Industry,Borough,Charge,Charge Count,Outcome,Counts Settled,...,Street,Street 2,Unit Type,Unit,Description,City,State,Zip,Longitude,Latitude
0,28319-2020-ENFO,20T00443,CLASSIC DELI CORP,12/02/2020,Tobacco Retail Dealer,Bronx,"NYC Admin Code ¬ß 17-715(a) - SOLD, OFFERED FOR...",12,Default Decision,NaN,...,E GUN HILL RD,NaN,NaN,NaN,NaN,BRONX,NY,10469.0,-73.84405,40.869315
1,52728-2019-ENFO,05441777,"SUN FAT FRUIT & VEGATABLE, INC",10/09/2019,Stoop Line Stand - 033,Manhattan,NYC Admin Code ¬ß 20-237(a) - Stoop line licens...,2,Default Decision,NaN,...,MOTT ST,NaN,NaN,NaN,NaN,NEW YORK,NY,10013.0,-73.99662,40.718694

Then use this dataframe to calculate Mean, Median and Mode:

In [7]:
mean_value = data['Charge Count'].mean()
median_value = data['Charge Count'].median()
mode_value = data['Charge Count'].mode()[0]  

print("Mean:", mean_value)
print("Median:", median_value)
print("Mode:", mode_value)

Mean: 5.297086916618512
Median: 1.0
Mode: 1

Next, use the hard way to calculate Mean, Median and Mode:

In [8]:
import csv
file_path = "/Users/yuxiaohan/Documents/SIPA/Computing in Context/Homework/Project 1/Department_of_Consumer_and_Worker_Protection__DCWP__Issued_Charges_20241106.csv"
numeric_column_index = 7

In [9]:
import csv

def load_numeric_data(file_path, column_name):
    """
    Load numeric data from a CSV file without relying on external libraries.
    :param file_path: Path to the CSV file
    :param column_name: Name of the numeric column
    :return: List of numeric values
    """
    data = []
    with open(file_path, "r") as file:
        reader = csv.reader(file)
        header = next(reader)  # Read the header row
        # Find the index of the target column
        try:
            column_index = header.index(column_name)
        except ValueError:
            raise ValueError(f"Column '{column_name}' not found in CSV header: {header}")
        
        # Process each row
        for row in reader:
            try:
                value = row[column_index].strip().replace(",", "").replace("$", "")  # Clean value
                data.append(float(value))  # Convert to float
            except (ValueError, IndexError):
                # Skip invalid or missing rows
                print(f"Skipping invalid row: {row}")
    return data

In [10]:
data = load_numeric_data(file_path, 'Charge Count')

In [11]:
data[:5]

[12.0, 2.0, 1.0, 1.0, 1.0]

In [12]:
# Calculate mean manually
def calculate_mean(data):
    return sum(data) / len(data)

In [13]:
calculate_mean(data)

5.297086916618512

In [14]:
# Calculate median manually
def calculate_median(data):
    position = int(50 * (len(data) + 1) / 100)
    data = sorted(data)
    if len(data) % 2 ==0:
        return (data[position-1] + data[position]) / 2
    else:
        return data[position-1]

In [15]:
calculate_median(data)

1.0

In [16]:
# Calculate mode manually
def calculate_mode(data):
    freq = {}
    for num in data:
        if not num in freq:
            freq[num] = 1
        else:
            freq[num] +=1
    return max(freq, key=freq.get)

In [17]:
calculate_mode(data)

1.0

# Data visualization

In [18]:
import csv

file_path = "/Users/yuxiaohan/Documents/SIPA/Computing in Context/Homework/Project 1/Department_of_Consumer_and_Worker_Protection__DCWP__Issued_Charges_20241106.csv"

In [19]:
counts_per_year = {}
with open(file_path, mode='r') as file:
    reader = csv.DictReader(file)
    for row in reader:
        year = row["Violation Date"].split("/")[-1] 
        if year.isdigit():
            if year in counts_per_year:
                counts_per_year[year] += 1
            else:
                counts_per_year[year] = 1

In [20]:
print(f"{'Year':<10}{'Count':<10}")
for year, count in sorted(counts_per_year.items()):
    print(f"{year:<10}{count:<10}")

Year      Count
2014      22887
2015      21176
2016      24273
2017      28377
2018      24990
2019      30236
2020      13416
2021      16278
2022      31310
2023      22409

In [21]:
#Sparkline Visualization
for year, count in sorted(counts_per_year.items()):
    print(f"{year}: {'*' * (count // 1000)}")

2014: **********************
2015: *********************
2016: ************************
2017: ****************************
2018: ************************
2019: ******************************
2020: *************
2021: ****************
2022: *******************************
2023: **********************

In [22]:

#Table Visualization

from tabulate import tabulate

headers = ["Year", "Count"]
data = sorted([(year, count) for year, count in counts_per_year.items()])
print(tabulate(data, headers=headers, tablefmt="grid"))

+--------+---------+
|   Year |   Count |
+========+=========+
|   2014 |   22887 |
+--------+---------+
|   2015 |   21176 |
+--------+---------+
|   2016 |   24273 |
+--------+---------+
|   2017 |   28377 |
+--------+---------+
|   2018 |   24990 |
+--------+---------+
|   2019 |   30236 |
+--------+---------+
|   2020 |   13416 |
+--------+---------+
|   2021 |   16278 |
+--------+---------+
|   2022 |   31310 |
+--------+---------+
|   2023 |   22409 |
+--------+---------+